body
{
}
.list
{
	font-weight: bold;
	font-size: 8pt;
	color: #224488;
	font-family: Verdana;
}
.select
{
	color: #224488;
	font-family: Verdana;
}
.list2
{
	font-weight: bold;
	font-size: 8pt;
	color: #FFFFFF;
	font-family: Verdana;
}
.list3
{
	color: green;
}
.ProductName {
	font-family: Tahoma;
	font-size: 10px;
	color: #444444;
    font-weight: bold;
}

.standard
{
    font-family: tahoma;
    font-size: 8pt;
    color: #224488;
    text-decoration: none;
}

table.outer
{
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: #888888;
    -moz-border-radius: 1px 2px 3px 4px;

}

td.left
{
    border-right-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: dashed;
    border-color: #888888;
}

td.right
{
    border-left-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: dashed;
    border-color: #888888;
}


table.nolower
{
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-style: dashed;
    border-color: #888888;
}

td.list_left
{
    border-right-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: #888888;
}

td.list_edge
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: #888888;
}

.systemDetail {
	font-family: Tahoma;
	font-size: 11px;
	padding: 3px;
}
.systemDetailBG
{
	font-size: 11px;
	background-image: url(images/MemorySelector/bg.jpg);
	padding-top: 3px;
	font-family: Tahoma;
}

.detailList
{
	FONT-WEIGHT: 700;
	font-size: 8pt;
	color: #224488;
	font-family: Verdana;
}
