body
{
}
.item
{
	font-size: 10pt;
	color: navy;
	font-family: Sans-Serif;
}
.title
{
	font-weight: bold;
	font-size: 16pt;
	font-family: Sans-Serif;
}
.item_title
{
	font-weight: bold;
	font-size: 10pt;
	color: navy;
	font-family: Sans-Serif;
}
.select
{
	font-size: 10pt;
	color: black;
	font-family: Sans-Serif;
	font-variant: normal;
}
.title_link
{
	font-weight: bold;
	font-size: 16pt;
	color: blue;
	font-family: Sans-Serif;
}
A:hover
{
	color: red;
}
