<%@ Control Language="c#" Inherits="memoryAdmin.ucAdminHeader" CodeFile="ucAdminHeader.ascx.cs" %>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="600" border="0">
	<TR>
		<TD width="275"><a href="default.aspx"><IMG alt="" src="http://www.memory-up.com/merchant2/images/logo_big.gif" border="0"></a></TD>
		<TD vAlign="baseline">
			<asp:Label id="lblHeader" runat="server" CssClass="title"></asp:Label></TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
		<TD>&nbsp;</TD>
	</TR>
</TABLE>
