<%@ Page language="c#" Inherits="memoryAdmin.WebForm1" CodeFile="WebForm1.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>WebForm1</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:DataGrid id=DataGrid2 runat="server" DataSource="<%# dataSet31 %>" DataMember="Affiliate">
			</asp:DataGrid>
			<asp:DataGrid id=DataGrid1 runat="server" DataSource="<%# dataSet21 %>">
			</asp:DataGrid>
		</form>
	</body>
</HTML>
